header {
    text-align: right;
    font-size: large;
    margin: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

a {
    margin: 5px;
}


body {
    background-color: #F8EDEB;
    color: black;
}

/* #index-main {
    background-color: #FCD5CE;
    text-align: left;
    margin: 100px 300px 100px 250px;
    /* top-right-bottom-left */
    /* height: 450px;
    width: 600px;
    padding: 40px;
    font-size: 20px; */
} */

#index-main {
    background-color: #FCD5CE;
    text-align: left;
    /* padding: 40px; Add padding to provide space inside the main container */
    font-size: 20px; /* Adjust font size as needed */
}

#index-main section {
    background-color: #FCD5CE;
    display: flex; /* Use flexbox for layout */
    margin: 100px 700px 0px 300px; /* Adjust margin as needed */
    padding: 70px 50px 70px 70px;
    align-items: center; /* Center items vertically within the section */
}

.index-main-img {
    width: auto; /* Adjust image width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-left: 70px; /* Add space between image and text */
    /* margin-right: 50px; */
}

.header-subject {
   font-size: 25px ;
   padding: 40px;
    margin: 50px 250px 0px 250px;
}

.about-portfolio {
    background-color: #FCD5CE;
    text-align: left;
    height: auto;
    width: 1100px;
    padding: 40px;
    margin: 20px 100px 100px 250px;
}

#interest {
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 15px;
}


.about-portfolio h3 {
    font-size: 25px;
    margin: auto;
    border-bottom: solid 2px white;
    border-top: solid 2px white;
    display: block;
}

.about-portfolio p {
    font-size: 20px;
    padding: 10px;
    margin: auto;
}

.about-portfolio img {
    border-radius: 10px;
    margin-bottom: 20px;
    height: 250px;  
    width: 300px;
    margin-left: auto;
    margin-top: 20px;
}
